@model Group_Task.Models.MaterialType

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MaterialType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaterialName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaterialStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaterialId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
