@model Group_Task.Models.GoodReceivedReturn

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>GoodReceivedReturn</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReferenceNo" class="control-label"></label>
                <input asp-for="ReferenceNo" class="form-control" />
                <span asp-validation-for="ReferenceNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrnNo" class="control-label"></label>
                <input asp-for="GrnNo" class="form-control" />
                <span asp-validation-for="GrnNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionDate" class="control-label"></label>
                <input asp-for="TransactionDate" class="form-control" />
                <span asp-validation-for="TransactionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Supplier" class="control-label"></label>
                <input asp-for="Supplier" class="form-control" />
                <span asp-validation-for="Supplier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descriptions" class="control-label"></label>
                <input asp-for="Descriptions" class="form-control" />
                <span asp-validation-for="Descriptions" class="text-danger"></span>
            </div>
            <!--
            <div class="form-group">
                <label asp-for="Warehouse" class="control-label"></label>
                <input asp-for="Warehouse" class="form-control" />
                <span asp-validation-for="Warehouse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrnDate" class="control-label"></label>
                <input asp-for="GrnDate" class="form-control" />
                <span asp-validation-for="GrnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionNo" class="control-label"></label>
                <input asp-for="TransactionNo" class="form-control" />
                <span asp-validation-for="TransactionNo" class="text-danger"></span>
            </div>
            -->
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
