@model Group_Task.Models.TaskType

@{
    ViewData["Title"] = "Edit";
}


<h4>TaskType > Edit</h4>
<hr />
<div class="row">
    <div class="col-md-7">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TaskTypeId" />
            <div class="col-sm-5">
                <label asp-for="TaskTypeName" class="control-label"></label>
                <input asp-for="TaskTypeName" class="form-control" />
                <span asp-validation-for="TaskTypeName" class="text-danger"></span>
            </div>
            <div class="col-sm-5">
                <label asp-for="Remark" class="control-label"></label>
                <input asp-for="Remark" class="form-control" />
                <span asp-validation-for="Remark" class="text-danger"></span>
            </div>
            <div class="col-sm-5" style="margin: 5px 0px">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
