@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .card {
            height: 200px; /* Set the height you need */
        }
    </style>
</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"> BACKCODEPRINT </a>           
            <a class="navbar-brand" href="#"> Home </a>           
            <a class="navbar-brand" href="#"> Stock Import </a>           
        </div>
    </nav>

    <header class="container my-3" style="border: 1px solid gray;">
        <h4>***Option</h4>
        <form>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="searchInput" class="form-label"><b>Item Name</b></label>
                    <input type="text" class="form-control" id="searchInput" placeholder="Enter your text">
                </div>
                <div class="col-md-6">
                    <label for="itemsGroup" class="form-label"><b>Generate Form</b></label>
                    <select class="form-select" id="itemsGroup">
                        <option selected>Select</option>
                        <option value="1">Generate From Code</option>
                        <option value="2">Generate From Font</option>
                    </select>
                </div>
            </div>
            <button type="button" class="btn btn-primary">Submit</button>
        </form>
    </header>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Item Name</th>
                <th scope="col">Item Code</th>
                <th scope="col">Brand Code</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <th>Hello</th>
              <th>Hello</th>
              <th>Hello</th>
              <th>Hello</th>
            </tr>
        </tbody>
    </table>
</body>
</html>
