html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: lightgrey;
}

.page-container {
    display: flex;
}


.page-bar {
    background-color: aliceblue;
    padding: 20px;
    display: flex;
    align-items: center;
}

.page-breadcrumb {
    flex: 5;
    align-items: center;
}

.page-toolbar {
    flex: 5;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/*line create*/
.portlet-title {
    background-color: white;
    margin-top: 10px;
    padding:10px;
}
.portlet-bordered {
        display: flex;
        align-items: center;
        margin:10px;
        padding:10px;
        border-bottom: 1px solid black;
    }

.caption {
    flex: 5;
}

.actions {
    flex: 5;
    display: flex;
    justify-content: flex-end;
}

/*portlet-body*/
.portlet-body {
    background-color: white;
    padding: 15px;
}

.row_data {
    margin:0;
}


.table-scrollable {
   
}

.row-pagination {
    margin-top: 10px;
}
