<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Group_Task</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/dialog.css" rel="stylesheet" />
    <link href="~/css/purchase.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Group_Task.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.0/themes/base/jquery-ui.css">
  

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Group_Task</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="GroupTasks" asp-action="Index">GroupTask</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TaskMasters" asp-action="Index">TaskMaster</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="PurchaseRequests" asp-action="Index">P.Request 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Warehouses" asp-action="Index">Warehouse</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="PurchaseRequest" asp-action="Index">P.Request 2</a>
                        </li>   
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="PurchaseOrders" asp-action="Index">P.Order</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Zones" asp-action="Index">Zone</a>
                        </li>     
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Blocks" asp-action="Index">Block</a>
                        </li>   
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Buildings" asp-action="Index">Building</a>
                        </li>   
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Streets" asp-action="Index">Street</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Suppliers" asp-action="Index">Suppliers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Itemsmaterials" asp-action="Index">ItemsMaterials</a>
                        </li>                        
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="BoqWorkingTypes" asp-action="Index">BoqWorkingType</a>
                        </li>             
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="PrintBarcode" asp-action="Index">PrintBarcode</a>
                        </li>                        
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="BoqDetails" asp-action="Index">BoqDetail</a>
                        </li>            
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MaterialTypes" asp-action="Index">MaterialType</a>
                        </li>           
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ItemTypes" asp-action="Index">ItemType</a>
                        </li>      
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Brands" asp-action="Index">Brand</a>
                        </li>      
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Subcontractors" asp-action="Index">Subcontractors</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Group_Task - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/datatable.js"></script>
    <script src="~/lib/jquery-timepicker/jquery.timepicker.min.js" type="text/javascript"></script>
    <script src="~/lib/jquery-timepicker/jquery.timepicker.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/ui/1.14.0/jquery-ui.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
