@model Group_Task.Models.PurchaseRequest

@{
    ViewData["Title"] = "Home Page";
}

@using (Html.BeginForm())
{
    @Html.EditorFor(model => model.DeliveryDate,new { htmlAttributes = new {@class="datepicker"}})
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
