@model Group_Task.Models.GroupTask

@{
    ViewData["Title"] = "Create";
    var db = new TestDbContext();
    var Task_Name = from t in db.TaskMasters select new SelectListItem { Value = t.TaskMasterId.ToString(), Text = t.TaskName };

}



<h4>GroupTask > create</h4>
<hr />
<div class="row">
    <div class="col-md-7">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-sm-5">
                <label asp-for="TaskMasterId" class="control-label"></label>
                <input asp-for="TaskMasterId" class="form-control" />
                <span asp-validation-for="TaskMasterId" class="text-danger"></span>
            </div>
            <div class="col-sm-5">
                <label asp-for="TaskType" class="control-label"></label>
                @Html.DropDownList("TaskName", Task_Name, new { @class = "form-control " })
                <span class="caret"></span>
            </div>
            <div class="col-sm-5">
                <label asp-for="GroupName" class="control-label"></label>
                <input asp-for="GroupName" class="form-control" />
                <span asp-validation-for="GroupName" class="text-danger"></span>
            </div>
            <div class="col-sm-5">
                <label asp-for="HouseId" class="control-label"></label>
                <input asp-for="HouseId" class="form-control" />
                <span asp-validation-for="HouseId" class="text-danger"></span>
            </div>
      
            <div class="col-sm-5" style="margin: 5px 0px">
                <input type="submit" value="save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
